In [1]:
import seaborn as sns

In [2]:
%matplotlib inline

In [5]:
dots = sns.load_dataset('dots')

In [15]:
dots[1:40]

   align choice  time  coherence  firing_rate
1   dots     T1   -80        3.2    31.691726
2   dots     T1   -80        6.4    34.279840
3   dots     T1   -80       12.8    32.631874
4   dots     T1   -80       25.6    35.060487
5   dots     T1   -80       51.2    34.987571
6   dots     T1   -60        0.0    32.868526
7   dots     T1   -60        3.2    35.119048
8   dots     T1   -60        6.4    34.841076
9   dots     T1   -60       12.8    35.648148
10  dots     T1   -60       25.6    33.610568
11  dots     T1   -60       51.2    34.277344
12  dots     T1   -40        0.0    34.561753
13  dots     T1   -40        3.2    34.895833
14  dots     T1   -40        6.4    34.963325
15  dots     T1   -40       12.8    36.471193
16  dots     T1   -40       25.6    32.534247
17  dots     T1   -40       51.2    35.009766
18  dots     T1   -20        0.0    35.358566
19  dots     T1   -20        3.2    31.101190
20  dots     T1   -20        6.4    35.513447
21  dots     T1   -20       12.8    34.516461
22  dots     T1   -20       25.6    34.784736
23  dots     T1   -20       51.2    36.669922
24  dots     T1     0        0.0    36.254980
25  dots     T1     0        3.2    32.366071
26  dots     T1     0        6.4    36.919315
27  dots     T1     0       12.8    35.699588
28  dots     T1     0       25.6    35.861057
29  dots     T1     0       51.2    37.060547
30  dots     T1    20        0.0    38.496016
31  dots     T1    20        3.2    33.482143
32  dots     T1    20        6.4    36.185819
33  dots     T1    20       12.8    36.008230
34  dots     T1    20       25.6    34.882583
35  dots     T1    20       51.2    35.888672
36  dots     T1    40        0.0    36.205179
37  dots     T1    40        3.2    34.375000
38  dots     T1    40        6.4    36.797066
39  dots     T1    40       12.8    35.390947

In [21]:
dots[dots['firing_rate']>70]

    align choice  time  coherence  firing_rate
524  sacc     T1     0        6.4      70.0489